<h1>Productos</h1>

{{#if listExists}}
    {{#each products}}
        <p>{{this.title}}</p>
        <p>{{this.price}}</p>
        <img src={{this.thumbnail}} alt="">
    {{/each}}
{{else}}
    <p>{{message}}</p>
{{/if}}



<form action="/productos/vista" method="GET" enctype="application/x-www-form-urlencoded">
    <input class="option-form-button" type="submit" value="Ir a agregar productos" />
</form>


